<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtkj.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.xtkj.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_shiro_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_shiro_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xtkj.pojo.User">
    insert into tb_shiro_user (user_id, user_name, user_pwd
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xtkj.pojo.User">
    insert into tb_shiro_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtkj.pojo.User">
    update tb_shiro_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtkj.pojo.User">
    update tb_shiro_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="getpwd" resultType="String" parameterType="String">
    select user_pwd from tb_shiro_user where user_name = #{username}
  </select>
  <select id="getRoleByUsername" resultType="String" parameterType="String">
    select sr.role_name
    from tb_shiro_user su
    join  tb_shiro_user_roles sur on su.user_id =  sur.user_id
    join  tb_shiro_roles sr on sr.role_id    = sur.role_id
    where su.user_name = #{username}
  </select>
  <select id="getPremissionsByUsername" resultType="String" parameterType="String">
    select sp.p_name
    from tb_shiro_roles  sr
    join tb_shiro_roles_permissions srp on sr.role_id = srp.role_id
    join tb_shiro_Permissions sp on srp.p_id = sp.p_id
    join tb_shiro_user_roles  sur on sur.role_id = sr.role_id
    join tb_shiro_user su on sur.user_id = su.user_id
    where su.user_name = #{username}
  </select>
</mapper>